/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $basic-black;
  background-color: $basic-white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;

  &:focus {
    outline: 2px solid $dark-grey-light;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
