/* здесь используйте глобальные селекторы img, body, html и так далее*/
.page__body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $basic-black;
  background-color: $basic-white;
  margin: 0 auto;
  max-width: 1520px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
