
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
  }
}

@mixin button {
  font-family: "Oswald", sans-serif;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: none;
}

@mixin hero-title {
  font-size: 60px;
  line-height: 60px;
}

@mixin subtitle {
  font-size: 36px;
  line-height: 36px;
}

@mixin label {
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: $dark-grey-light;
}
