/* здесь используйте глобальные переменные */
// Шрифты
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green-light: rgba(104, 183, 56, 0.85);
$basic-green: #68b738;
$basic-green-dark: #5eaa2f;
$basic-grey: #f2f2f2;
$secondary-color: #444444;
$special-grey: #cdcdcd;
$special-grey-light: #ebebeb;
$special-grey-dark: #666666;
$dark-grey-light: #444444;
$dark-grey: #222222;
$error-pink: #ff8282;


// Размеры вьюпортов
$tablet-width: 768px;
$desctop-width: 1400px;
