/* здесь используйте глобальные переменные */
// Шрифты
$primary-font: "Oswald", "arial", sans-serif;
$secondary-font: "Lato", "arial", sans-serif;

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-green-light: rgba(104, 183, 56, 0.85);
$basic-green: #68b738;
$basic-green-dark: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey-input: #e7e7e7;
$special-grey: #cdcdcd;
$special-grey-light: #ebebeb;
$special-grey-dark: #3e3e3e;
$grey-border: #d9d9d9;
$grey-plus: #d3d3d3;
$dark-grey-light: #444444;
$dark-grey: #222222;
$basic-brown: #666666;
$brown-light: #6b6b6b;
$error-pink: #ff8282;


// Размеры вьюпортов
$tablet-width: 767px;
$desktop-width: 1439px;

// Паддинги
$main-padding-mobile: 0 20px;
$main-padding-tablet: 0 30px;
$main-padding-desktop: 0 110px;
