/* GLOBAL */
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";
@import "global/global.scss";

/* BLOCKS */
@import "blocks/page.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/hero.scss";
@import "blocks/site-list.scss";
@import "blocks/main-container.scss";
@import "blocks/programs.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/address.scss";
@import "blocks/main-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/add-product.scss";
@import "blocks/form-container.scss";
@import "blocks/form.scss";
@import "blocks/field.scss";
@import "blocks/radio.scss";
@import "blocks/checkbox.scss";
