.add-products {
  padding-top: 25px;
  padding-bottom: 35px;
  position: relative;

  @include green-line;

  &::before {
    top: 41px;
  }

  @media (min-width: $tablet-width) {
    padding: 68px 0;
    padding-bottom: 73px;

    &::before {
      top: 89px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-bottom: 87px;

    &::before {
      top: 97px;
    }
  }
}

.add-products__wrapper {
  @include main-padding;
  position: relative;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 1220px;
    column-gap: 80px;
    padding: 0 110px;

    @include center;
  }
}

.add-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: -20px;
  padding: $main-padding-mobile;
  padding-bottom: 36px;
  max-width: 226px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-bottom: 81px;
    max-width: 339px;
    min-height: 36px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    margin-bottom: 78px;
  }
}

.add-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
    grid-row: 2;
    grid-column: 1;
  }
}

.add-products__item {
  border-top: 1px solid $special-grey;
  padding-top: 12px;
  padding-bottom: 19px;
  position: relative;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid $special-grey;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 15px 0 16px;
    align-items: center;
    border-left: none;
    border-right: none;
  }
}

.add-products__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.add-products__content {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-content: end;
    column-gap: 49px;
    top: 27px;
    right: 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 286px;
    margin: 0;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 4px;
  }
}

.add-products__price {
  min-width: 42px;
  justify-content: end;
  display: flex;

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}


.add-products__info {
  background-color: $basic-green-light;
  min-width: 280px;
  min-height: 290px;
  background-image: url("../../images/icons/stack.svg#icon-gift");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 59px;
  position: relative;
  padding: 43px 42px;
  box-sizing: border-box;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-image: url("../../images/catalog-bacground-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background-image: url("../../images/catalog-bacground-tablet@1x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../images/catalog-bacground-desktop@1x.jpg");
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 708px;
    min-height: 200px;
    background-position-y: 50%;
    background-position-x: 77px;
    padding: 57px 77px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    min-height: 288px;
    background-position-y: 56px;
    background-position-x: 50%;
    padding: 43px 42px;
    grid-row: 2;
  }
}

.add-products__text {
  font-family: $secondary-font;
  color: $basic-white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto;
  padding-top: 143px;
  max-width: 161px;

  @media (min-width: $tablet-width) and (max-width: $max-width-desktop) {
    text-align: left;
    width: 170px;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    margin-left: auto;
    margin-right: 48px;
  }
}

.add-products__button {
  @include button;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) and (max-width: $max-width-desktop) {
    grid-row: 2;
    grid-column: 1/4;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    margin-left: 40px;
  }
}
