.address {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background-color: transparent;
  }
}

.address__wrapper {
  @media (min-width: $desktop-width) {
    padding: $main-padding-desktop;
    background-color: transparent;
    padding-bottom: 106px;
    padding-top: 95px;

    @include center;
  }
}

.address__info {
  display: flex;
  padding: 26px 20px;
  justify-content: center;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    column-gap: 308px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 199px;
    align-items: center;
    padding: 60px 80px;
    box-sizing: border-box;
    column-gap: 87px;
  }

  &--background {
    @media (max-width: $desktop-width) {
      background-color: $basic-grey;
    }
  }
}

.address__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 163px;
  }
}

.address__content {
  @include content;
  max-width: 140px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 157px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 157px;
  }

  & p {
    margin: 0;
  }
}

.address__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $basic-grey;
  vertical-align: bottom;
}

.address__map {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 400px;
  }
}
