.address {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    padding-top: 95px;
    padding-bottom: 108px;
    position: relative;
    min-height: 400px;
    box-sizing: border-box;
  }
}

.address__wrapper {
  @media (min-width: $desktop-width) {
    padding: $main-padding-desktop;
    background-color: transparent;

    @include center;
  }
}

.address__info {
  display: flex;
  padding: 26px 20px;
  justify-content: center;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 62px 70px;
    column-gap: 308px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 199px;
    align-items: center;
    padding: 60px 80px;
    box-sizing: border-box;
    column-gap: 87px;
  }

  &--background {
    @media (max-width: $desktop-width) {
      background-color: $basic-grey;
    }
  }
}

.address__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 140px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 163px;
  }

  @media (min-width: $desktop-width) {
    min-width: 163px;
  }
}

.address__content {
  @include content;
  max-width: 140px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 157px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 157px;
    text-align: left;
    min-height: 79px;
  }

  & p {
    margin: 0;
  }
}

.address__image {
  border: none;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 362px;
}

.address__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 362px;
  vertical-align: bottom;
}

.address__image-nojs {
  display: none;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.address__map {
  @media (min-width: $desktop-width) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  &--nojs .address__image {
    display: none;
  }

  &--nojs .address__image-nojs {
    display: block;
  }
}
