.card {
  background-color: $secondary-bg-color;
}

.card__link-title {
  color: #222222;
  line-height: 24px;
  text-transform: uppercase;
}

.card__content {
  font-size: 16px;
  line-height: 20px;
  color: $secondary-color;
}

.card__button {
  @include button;
}
