.card {
  background-color: $basic-white;
  border-bottom: 1px solid $special-grey-light;
  padding: $main-padding-mobile;
  padding-top: 20px;
  padding-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    border: none;
    padding: 0 35px;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, $basic-white 69px, $basic-grey 69px 100%);
  }

  @media (min-width: $desktop-width) {
    min-height: 430px;
  }

  &--more {
    background: none;
    background-color: $basic-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 79px;

    @media (min-width: $tablet-width) {
      padding-top: 158px;
      padding-bottom: 40px;
      background-color: $basic-white;
      min-height: 429px;
      margin-top: 73px;
      border: 2px solid $basic-grey;
    }

    @media (min-width: $desktop-width) {
      padding-top: 147px;
      margin-top: 70px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $grey-plus;
      top: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $grey-plus;
      transform: rotate(90deg);
      top: 40px;
    }

    @media (min-width: $tablet-width) {
      &::before,
      &::after {
        width: 60px;
        top: 77px;
      }
    }
  }
}

.card__container {
  display: grid;
  width: 280px;
  margin: 0 auto;
  grid-template-areas: "image title""image text";
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
  }
}

.card__title {
  margin: 0;
  margin-top: 2px;
  max-width: 76px;
  grid-area: title;
  margin-bottom: 10px;
  margin-left: 4px;


  @media (min-width: $tablet-width) {
    max-width: 134px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.card__link-title {
  display: block;
  color: $dark-grey;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &--more {
    max-width: 204px;
    text-align: center;

    @media (min-width: $tablet-width) {
      max-width: 140px;
    }
  }
}

.card__content {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-light;
  grid-column: 2;
  margin-bottom: 15px;
  grid-area: text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
    min-width: 100%;
  }

  &--more {
    margin-top: 8px;
    margin-bottom: 21px;
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: center;
      margin-top: 18px;
      margin-bottom: 82px;
      max-width: 170px;
      min-width: 170px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 23px;
      margin-bottom: 88px;
    }
  }

  & tr {
    display: flex;
    justify-content: space-between;
    min-width: 140px;

    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $special-grey;
      padding-bottom: 7px;
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 6px;
      margin-bottom: 8px;
    }
  }

  & td {
    padding: 0;
  }
}

.card__button {
  @include button;
  font-size: 16px;
  grid-column: 1/3;
  width: 100%;
  padding: 7px 10px;
  box-sizing: border-box;

  &--more {
    background-color: $basic-grey;
    color: $dark-grey-light;

    &:hover,
    &:focus,
    &:active {
      background-color: $special-grey-light;
      color: $dark-grey-light;
    }
  }
}

.card__image {
  margin: 0 auto;
  display: block;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.card__link-image {
  display: flex;
  justify-content: center;
  min-height: 107px;
  align-items: center;
  margin-bottom: 17px;
  grid-area: image;

  @media (min-width: $tablet-width) {
    min-height: 206px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}
