.catalog__wrapper {
  @media (min-width: $tablet-width) {
    padding: $main-padding-tablet;
    padding-top: 94px;
  }

  @media (min-width: $desktop-width) {
    padding: $main-padding-desktop;
    padding-top: 95px;

    @include center;
  }
}

.catalog__list {
  border-top: 1px solid $grey-border;

  @media (min-width: $tablet-width) {
    border: none;
    display: grid;
    align-items: start;
    column-gap: 60px;
    row-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 81px;
    row-gap: 70px;
  }

  & > * {
    min-width: 0;
  }
}
