.checkbox {
  position: relative;
}

.checkbox__input {
  &:checked + .checkbox__text::after {
    content: "";
    position: absolute;
    background-image: url("../../images/icons/stack.svg#check");
    width: 18px;
    height: 14px;
    left: 6px;
    top: 11px;

    @media (min-width: $tablet-width) {
      left: 7px;
      top: 3px;
      width: 26px;
      height: 26px;
    }
  }

  &:disabled ~ .checkbox__text {
    opacity: 0.3;
    cursor: default;
  }

  &:not([disabled]):hover ~ .checkbox__text::before {
    border-color: $input-grey;
  }
}

.checkbox__text {
  @include label;
  margin-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid $special-grey;
    left: 0;
    top: 3px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      top: -5px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 60px;
  }

  &:hover::before {
    border-color: $input-grey;
  }
}
