.copyright {
  &:active {
    opacity: 30%;
  }
}

.copyright__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey-light;
}

.copyright__icon {
  @include footer-icon;
}

