.copyright {
  @media (max-width: $tablet-width) {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }

  &:active {
    opacity: 30%;
  }

  &:focus {
    outline: none;
  }

  &:focus .copyright__icon {
    fill: $basic-green;
  }
}

.copyright__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey-light;
}

.copyright__icon {
  @include footer-icon;
}

