.example {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    background: linear-gradient(to bottom, $basic-white 205px, $basic-grey 205px 100%);
  }
}

.example__wrapper {
  @include main-padding;
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: relative;
    padding: $main-padding-desktop;

    @include center;
  }
}

.example__content {
  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    padding-top: 70px;
    padding-bottom: 155px;
    width: 100%;
    box-sizing: border-box;
  }
}

.example__title {
  @include secondary-title;

  margin: 0;
  padding: $main-padding-mobile;
  padding-top: 25px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: $main-padding-tablet;
  }

  @media (min-width: $desktop-width) {
    @include center;

    padding: $main-padding-desktop;
    margin-bottom: 76px;
  }
}

.example__comment {
  @include content;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    padding: $main-padding-tablet;
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin: 0;
    margin-bottom: 69px;
    padding: 0;
  }
}

.example__list {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 32px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    position: relative;
    padding: $main-padding-tablet;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 462px;
      background-color: $grey-light;
      top: 332px;
    }
  }

  @media (min-width: $desktop-width) {
    column-gap: 42px;
    justify-content: start;
    margin: 0;
  }
}

.example__item {
  text-align: center;
  width: 124px;
  min-height: 56px;
  box-sizing: border-box;
  padding-top: 13px;
  border: 1px solid $special-grey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 72px;
  }

  &--secondary {
    text-transform: uppercase;
    color: $basic-black;
    border: none;

    @media (max-width: $tablet-width) {
      font-size: 14px;
      line-height: 20px;
      display: flex;
      position: absolute;
      top: 67px;
      width: 100%;
      flex-direction: row-reverse;
      column-gap: 3px;
      justify-content: center;
      margin-bottom: 20px;
    }

    & dd {
      margin: 0;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-left: auto;
      display: flex;
      flex-direction: column-reverse;
      text-align: right;
      row-gap: 9px;
      justify-content: center;
      align-items: end;
      min-width: 174px;
      min-height: 77px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      flex-direction: row-reverse;
      position: absolute;
      width: 327px;
      justify-content: space-between;
      top: 55px;
    }
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $dark-grey-light;
  margin: 0;
  max-width: 59px;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 77px;
  top: 46px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
    padding: 0 9px;
    top: 66px;
    min-width: fit-content;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    top: 62px;
  }
}

.example__images {
  display: flex;
  position: relative;
  padding-top: 55px;
  width: 280px;
  min-height: 256px;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
    padding-top: 104px;
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    margin-top: -135px;
    padding: 0;
    left: 50%;
  }
}

.example__image-before {
  position: relative;
  z-index: 1;
  width: 50%;
  overflow: hidden;
  background-color: $basic-grey;

  & img {
    max-width: none;
  }

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 151px, $grey-light 151px 100%);
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $basic-white 135px, $basic-grey 135px 100%);
  }
}

.example__image-after {
  position: absolute;
  left: 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 151px, $grey-light 151px 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $basic-white 135px, $basic-grey 135px 100%);
  }

  & img {
    max-width: none;
  }
}

.example__button {
  position: relative;
  top: 108px;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 256px;
    background-color: $basic-brown;
    border-radius: 2px;
    left: calc(50% - 2px);
    top: -108px;
    cursor: pointer;
    z-index: 1;

    @media (min-width: $tablet-width) {
      height: 512px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    left: calc(50% - 19px);
    z-index: 2;
    top: 1px;
    background-color: $basic-white;

    @media (min-width: $tablet-width) {
      top: 151px;
    }
  }

  &:hover {
    &::before,
    .example__button-image {
      background-color: $basic-green;
    }
  }

  &:active {
    &::before,
    .example__button-image {
      background-color: #9dcd83;
    }
  }
}

.example__button-image {
  position: absolute;
  padding: 0;
  width: 40px;
  height: 40px;
  mask-image: url("../../images/icons/stack.svg#switch");
  z-index: 3;
  background-color: $basic-brown;
  border-radius: 50%;
  left: calc(50% - 20px);
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    top: 150px;
  }
}
