.example {
  background-color: $basic-grey;
}

.example__title {
  @include secondary-title;
}

.example__comment {
  @include content;
}

.example__list {
  display: flex;
}

.example__item {
  &--secondary {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic-black;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $dark-grey-light;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__images {
  display: flex;
}
