.field {
  display: flex;
  column-gap: 13px;
  align-items: center;
}

.field__label {
  @include label;
}

.field__input {
  height: 45px;
  width: 100%;

  @include input;

  &--icon {
    background-position-y: 50%;
    background-position-x: calc(100% - 13px);
  }

  &--email {
    background-image: url("../../images/icons/stack.svg#icon-email");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../../images/icons/stack.svg#icon-phone");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}
