.field {
  display: flex;
  column-gap: 13px;
  row-gap: 14px;
  align-items: center;

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.field__label {
  @include label;
  white-space: nowrap;
}

.field__container-input {
  width: 100%;
}

.field__input {
  height: 45px;
  width: 100%;
  border: 1px solid $special-grey-input;
  padding: 14px 15px;
  box-sizing: border-box;
  opacity: none;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey-light;
  text-transform: uppercase;

  @include input;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &::placeholder {
    opacity: 1;
  }

  &--email {
    background: url("../../images/icons/stack.svg#icon-email");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../../images/icons/stack.svg#icon-phone");
    background-size: 20px 20px;
  }

  &--icon {
    background-position-y: 50%;
    background-position: right;
    background-repeat: no-repeat;
    border-color: $special-grey;
  }
}

