.field {
  display: grid;
  grid-template-columns: 1fr 13fr;
  align-items: center;
  column-gap: 13px;

  @media (min-width: $tablet-width) {
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    padding: 0;
  }
}

.field__label {
  @include label;
  white-space: nowrap;
}

.field__container-input {
  width: 100%;
  height: 42px;
  position: relative;

  & input {
    padding-right: 45px;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.field__input {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid $special-grey-input;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    padding: 10px 18px;
  }

  &::placeholder {
    opacity: 1;
  }

  &:hover {
    border-color: $special-grey;
  }

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px $dark-grey-light;
  }

  &:focus ~ .field__icon {
    stroke: $basic-green;
  }

  &:focus:invalid {
    border-color: transparent;
    box-shadow: 0 0 0 2px $error-pink;
  }

  &:focus:invalid ~ .field__icon {
    stroke: $error-pink;
  }
}

.field__icon {
  position: absolute;
  right: 13px;
  top: 13px;
  stroke: $basic-black;

  @media (min-width: $tablet-width) {
    top: 16px;
    right: 16px;
  }
}
