.form__title {
  @include subtitle;
}

.form__list {
  list-style-type: none;
}

.form__note {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

.form__button {
  @include button;
}
