.hero {
  min-height: 480px;
  padding: $main-padding-mobile;
  padding-top: 27px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-height: 875px;
    padding: 0 90px;
    padding-top: 65px;
    box-sizing: border-box;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    min-height: 580px;
    padding: $main-padding-desktop;
    padding-top: 110px;
    max-width: 1440px;
  }
}

.hero__title {
  color: $basic-white;
  text-align: center;
  max-width: 400px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 25px;
  }

  @include hero-title;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    max-width: 430px;
    text-align: left;
    margin: 0;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__image {
  position: absolute;
  top: 167px;

  @media (min-width: $tablet-width) {
    left: 30px;
    top: 266px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: 29px;
    left: 557px;
    z-index: 1;
  }
}

.hero__subtitle {
  @include subtitle;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.hero__botton {
  @include button;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  min-height: 40px;

  @media (max-width: $tablet-width) {
    margin-top: 302px;
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
  }
}

.hero__icon {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
