.main-footer {
  background-color: $basic-grey;
}

.main-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 55px 30px;
  }
}

.main-footer__image {
  fill: $basic-black;

  &:hover,
  &:focus {
    fill: $special-grey-dark;
  }

  &:active {
    fill: $brown-light;
  }
}

.main-footer__logo {
  @media (max-width: $tablet-width) {
    border-bottom: 1px solid $grey-border;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}
