.main-container__title {
  font-size: 60px;
  line-height: 60px;
}

.main-container__slogan {
  line-height: 20px;
  text-transform: uppercase;
}

.main-container__background {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-container__subtitle {
  line-height: 30px;
}
