.main-header {
  max-height: 65px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: $main-padding-tablet;
    padding-top: 25px;
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    @include center;

    min-height: 59px;
    padding-bottom: 0;
    box-sizing: content-box;
    padding-top: 55px;
  }
}

.main-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 0 110px;
  }
}

.main-header__wrapper {
  @media (max-width: $tablet-width) {
    padding: 13px 20px 10px;
  }
}

.main-header__logo {
  @media (max-width: $desktop-width) {
    min-height: 38px;
    display: block;
    max-width: 200px;
  }
}

.main-header__icon {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
