.main-footer {
  background-color: $basic-grey;
}

.main-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 108px;
    align-items: start;
    padding: 55px 30px;
    min-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;

    @include center;
  }
}

.main-footer__image {
  fill: $basic-black;

  &:hover {
    fill: $special-grey-dark;
  }

  &:active {
    fill: $brown-light;
  }
}

.main-footer__logo {
  @media (max-width: $tablet-width) {
    border-bottom: 1px solid $grey-border;
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }


  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }

  &:focus {
    outline: none;
  }

  &:focus .main-footer__image {
    fill: $special-grey-dark;
  }
}
