.main-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-header__title {
  color: $basic-white;
  text-align: center;

  @include hero-title;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    max-width: 430px;
    text-align: left;
  }
}

.main-header__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-align: left;
  }
}

.main-header__text {
  position: relative;
  width: 100%;
  min-height: 302px;
  background-color: $basic-green-light;

  @include background-index;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;

    &::before {
      display: none;
    }
  }
}

.main-header__content {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-header__picture {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: $basic-green-light;
    width: 100%;
    min-height: 694px;

    @include background-index;
  }
}

.main-header__image {
  position: absolute;
}

.main-header__subtitle {
  @include subtitle;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header__botton {
  @include button;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  min-height: 54px;

  @media (min-width: $tablet-width) {
    width: 244px;
    min-height: 54px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-green-light;
  }
}

.main-header__icon {
  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}
