.main-container__title {
  @include hero-title;
}

.main-container__slogan {
  line-height: 20px;
  text-transform: uppercase;
}

.main-container__background {
  background: url("../../images/index-background-mobile@1x.jpg") no-repeat;

  @media (min-width: 768px) {
    background: none;
  }

  @media (min-width: 1400px) {
    background: url("../../images/index-background@1x.jpg");
    background-repeat: no-repeat;
  }
}

.main-container__color {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-container__subtitle {
  line-height: 30px;
}

.main-container__botton {
  @include button;
  width: 244px;
  min-height: 54px;
}
