.page__wrapper {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    min-height: 302px;
    right: 0;
    top: 65px;
    position: absolute;
    background-color: $basic-green-light;
    z-index: -1;
  }

  &::before {
    content: "";
    width: 100%;
    min-height: 302px;
    right: 0;
    top: 65px;
    position: absolute;
    background-image: url("../../images/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      width: 50%;
      min-height: 694px;
      right: 0;
      top: 0;
      position: absolute;
      background-color: $basic-green-light;
    }

    &::before {
      content: "";
      width: 50%;
      min-height: 694px;
      right: 0;
      top: 0;
      position: absolute;
      background-image: url("../../images/index-background@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}
