.programs__item {
  background-color: $basic-grey;
}

.programs__title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.programs__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
}

.programs__icon {
  background-color: $basic-green;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.programs__image--slim {
  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
  }
}

.programs__image--pro {
  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
  }
}
