.programs__item {
  background-color: $basic-grey;
}

.programs__title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.programs__description {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
}
