.radio {
  position: relative;
}

.radio__input {
  &:checked + .radio__text::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;
    left: 9px;
    top: 11px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
      left: 10px;
      top: 6px;
    }
  }

  &:disabled ~ .radio__text {
    opacity: 0.3;
    cursor: default;
  }

  &:not([disabled]):hover ~ .radio__text::before {
    border-color: $input-grey;
  }
}

.radio__text {
  @include label;
  margin-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
      top: -6px;
      left: -2px;
    }
  }
}

