.site-list {
  list-style-type: none;
  border-bottom: 1px solid #ebebeb;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
  }

  @media (min-width: $desktop-width) {
    max-width: 550px;

    &--desktop a {
      color: $basic-white;
    }
  }
}

.site-list__item {
  position: relative;
  width: 100%;
  min-height: 66px;
  background-color: $basic-white;
  border-top: 1px solid $special-grey-light;
  text-align: center;
  padding: 19px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-height: 50px;
    margin-right: 37px;
    border-top: none;
    padding: 0;
    width: auto;
    background-color: transparent;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 59px;
    margin-right: 35px;
  }
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;
  position: relative;

  &--current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: $basic-green;
    bottom: -1px;
    left: 50%;
    transform: translate(-50%);
    top: 30px;

    @media (min-width: $tablet-width) {
      top: 32px;
    }

    @media (min-width: $desktop-width) {
      top: 35px;
    }
  }

  &--current {
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 3px;

    &--desktop::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $basic-white;
      left: 50%;
      transform: translate(-50%);
      top: 36px;
    }
  }

  &:hover:not(.site-list__link--current),
  &:focus:not(.site-list__link--current) {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
  }

  &:active:not(.site-list__link--current) {
    opacity: 0.3;
  }
}
