.social {
  @media (max-width: $tablet-width) {
    display: flex;
    border-bottom: 1px solid $grey-border;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    column-gap: 24px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 132px;
    justify-content: space-between;
  }
}

.social__icon {
  @include footer-icon;
}
