.radio {
  position: relative;
}

.radio__input {
  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    border-radius: 50%;
  }
}
